.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-tabs .nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-tabs .nav-link:hover {
  background-color: #f0f0f0;
  color: #0d6efd;
  cursor: pointer;
}

/* notification progress-style animation  */
.toast-timer {
  position: relative;
  overflow: hidden;
}
.toast-timer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #0d6efd;
  animation: depleteBar 5s linear forwards;
  width: 100%;
}
@keyframes depleteBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

